@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Shark Internship Portal</title>
    </head>
    <body>
        <ul>			
	        <li id="li_1" >
		        <label class="description" for="element_1">Name </label>
		        <div>
			        <input id="element_1" name="name" class="element text medium" type="text" maxlength="255" value=""/> 
		        </div> 
		    </li>		
            <li id="li_2" >
		        <label class="description" for="element_2">NSU ID </label>
		        <div>
                    <input id="element_2" name="password" class="element text medium" type="password" value="" />
                </div>
            </li>
        </ul>
    </body>
</html>
