@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>NSU Internship Portal</title>
    </head>
    <body>
        @if(WebSecurity.IsAuthenticated)
            {
                <p>Welcome, @WebSecurity.CurrentUserName</p>
                <p><a href="@Href("~/logout")">Log out</a></p>
            }
         else
            {
                <ul>			
	                <li>
		                <label for="username">Username</label>
                        <input type="text" name="username" id="username" value="" />
		            </li>		
                    <li>
		                <label for="password">Password</label>
                        <input type="password" name="password" id="password" value="" />
                    </li>
                    <li>
                        <input type="submit" value="Log In" />
                    </li>
                </ul>
                <a href="@Href("~/Register")">Not Registered? Click here!</a>
            }
    </body>
</html>
