@{
    var username = "";
    var password = "";
    var errorMessage = "";
    
    if(IsPost) {
        username = Request["username"];
        password = Request["password"];
        if(WebSecurity.Login(username, password, true)){
             if(Roles.IsUserInRole("Admin")) {
                Response.Redirect("~/Admin/AdminHome");
             }
             else if(Roles.IsUserInRole("Student")) {
                Response.Redirect("~/Students/StudentHome");
             }
             else {
                Response.Redirect("~/index");
             }
        }
        else {
            errorMessage = "Login was not successful.";
        }
    }
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>NSU Internship Portal</title>
    </head>
    <body>
        @if(WebSecurity.IsAuthenticated)
            {
                if(Roles.IsUserInRole("Admin")) {
                    Response.Redirect("~/Admin/AdminHome");
                }
                else if(Roles.IsUserInRole("Student")) {
                    Response.Redirect("~/Students/StudentHome");
                }
                <p>Welcome, @WebSecurity.CurrentUserName</p>
                <p><a href="@Href("~/Logout")">Log out</a></p>
            }
         else
            {
                <form method="post">
                    <label for="username">Email</label>
                    <input type="text" name="username" id="username" value="" />

		            <label for="password">Password</label>
                    <input type="password" name="password" id="password" value="" />

                    <input type="submit" value="Log In" />

                </form>
                <a href="@Href("~/Register")">Not Registered? Click here!</a>
            }
    </body>
</html>
