@{
    Response.CacheControl = "public";
    
    if (!WebSecurity.IsAuthenticated) {
        Response.Redirect("~/index");
    } else if (!Roles.IsUserInRole(WebSecurity.CurrentUserName, 
      "Student"))
    {
      Response.Redirect("~/Admin/AdminHomePage.cshtml");
    }
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Shark Internship Portal Student</title>
    </head>
    <body>
        
    </body>
</html>
