@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Student Home</title>
    </head>
    <body>
        <p>Welcome @User.Identity.Name</p>
        <h1>Student Home</h1>
        <h3>Application Status</h3>
        <p>Your internship application is: Pending</p>
        <p><a href="@Href("~/Logout")">Logout</a></p>
    </body>
</html>
