@{
    Response.CacheControl = "no-cache";    

    if(!WebSecurity.IsAuthenticated) {
        Response.Redirect("~/index");
    } else if (!Roles.IsUserInRole(WebSecurity.CurrentUserName,"Admin"))
    {
      Response.Redirect("~/Students/StudentHomePage.cshtml");
    }
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Shark Internship Portal Admin</title>
    </head>
    <body>
        
    </body>
</html>
