@{
    var db = Database.Open("Login");
    var query = db.Query("Select FullName, student.NSUID, AgencyName, InternshipStatus from users inner join student on users.userid = student.userid inner join internship on student.internshipID = internship.internshipID inner join agency on internship.agencyid = agency.agencyid where student.internshipID != 0");

    var grid = new WebGrid(query);
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        @grid.GetHtml( columns: grid.Columns(grid.Column("FullName", "Full Name", format: @<a href = "AdminStudentDetails.cshtml?nsuid=@item.nsuid">@item.fullname</a>), grid.Column("NSUID", "NSU ID"), grid.Column("agencyname", "Company"), grid.Column("internshipstatus", "Internship Status")));
    </body>
</html>
