@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Admin Home</title>
    </head>
    <body>
        <h1>Admin Home Temp Page</h1>
        <p><a href="@Href("~/Admin/ManageRoles")">Manage Users</a></p>
        <p><a href="@Href("~/Logout")">Logout</a></p>
    </body>
</html>
